@import "tailwindcss";

.form-group {
  @apply grid;

  > :nth-child(2) {
    margin-top: 0.25rem;
  }
}

input[type="text"] {
  @apply border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

select {
  @apply border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

button {
  @apply bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.required::after {
  content: "*";
  padding-left: 0.125rem;
  @apply text-red-400;
}
